
* {
    // font-family: 'Delius Unicase', cursive;
  
    color: black;
}
body{
    background-color:rgb(243, 243, 243) !important;
}

.nav-bar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: .5rem 1rem;
    background-color: rgb(211, 211, 211);
    align-items: center;
    padding: 10px;
    a {
        margin-right: 1rem;
        font-size: 20px;
       white-space: nowrap;
    }
    .nav-link{
        margin: 0;
        font-size: 14px;
        padding: 0.5rem 0.8rem;
    }
    .logo-container{
        height: auto;
    }
}

.nav-items-container{
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.wireframe-btn{
    width: fit-content;
    margin: 0.2rem;
    padding: 0.5rem 0.9rem;
    border-radius: 4px;
    display: inline-flex;
}